<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" href="{% url 'post_list' %}">ManataleBol</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> {% if request.user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <form action='\'>
                <input class="form-control" type="search" required placeholder="Search" aria-label="Search" name='q'>
            </form>
        </ul>
        <ul class="navbar-nav">{% if request.user.is_superuser %}{%else%} {% if request.user.profile.photo %}
            <a href="{% url 'blog:edit_profile' %}"><button type="button" class="btn btn-outline-primary waves-effect"><img src="{{ request.user.profile.photo.url }}" alt="" height="20" width="20">   Hi {{ request.user|capfirst }}
            </button></a> {% else %}
            <a href="{% url 'blog:edit_profile' %}"><button type="button" class="btn btn-outline-primary waves-effect"><i class="fas fa-user-circle">Hi {{ request.user|capfirst }}</i>
            </button></a> {% endif %}
            <a href="{% url 'blog:post_create' %}"><button type="button" class="btn btn-outline-secondary waves-effect"><i class="fas fa-plus-circle">Post Create</i></button></a> {%endif%}
            <a href="{% url 'user_logout' %}"><button type="button" class="btn btn-outline-danger  waves-effect"><i class="fas fa-power-off">Logout</i></button></a>
        </ul>
    </div>{% endif %}
</nav>