{% extends 'blog/base.html' %} {% block title %}Welcome to {{ block.super }}{% endblock %} {% block content %} {% include 'blog/alerts.html' %}
<div class="row d-flex justify-content-center">
    {% for post in posts %}
    <div class="col-10 col-lg-10 col-md-10">
        <div class="img-thumbnail">
            {{ post.author|capfirst }}&nbsp;&nbsp;&nbsp;Title:-<a href="{{ post.get_absolute_url }}"><i>{{ post.title }}</i><br>
                <div class="row gallery">
                {% for image in pic %} 
                {% if image.title == post.title %}
                <div class="col-3 col-lg-3 col-lg-3">
                        <img src="/media/{{ image.image }}" class="img-thumbnail">
                </div>
                {%else%}
                {%endif%}
                {% endfor %}  
            </div>
            </a><br> {{ total_likes }} Like{{ total_likes|pluralize }} {% if request.user.is_authenticated %}
            <form action="{% url 'post_list' %}" method="post">
                {% csrf_token %} {% if is_liked %}
                <button type="submit" id="like" name="post_id" value="{{ post.id }}" class="btn btn-danger">Dislike</button> {% else %}
                <button type="submit" id="like" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button> {% endif %}
            </form>
            {% endif %}

            <br>{{ post.body }}<small style="float:right">{{ post.created }}</small>
        </div>
        <br>
    </div>

    {% endfor %}
</div>

<div class="row d-flex justify-content-center">
    <ul class="pagination">
        {% if posts.has_previous %}
        <li class="page-item">
            <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo;</a>
        </li>
        {% endif %} {% for p in posts.paginator.page_range %} {% if posts.number == p %}
        <li class="page-item active">
            <a href="?page={{ p }}" class="page-link">{{ p }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a href="?page={{ p }}" class="page-link">{{ p }}</a>
        </li>
        {% endif %} {% endfor %} {% if posts.has_next %}
        <li class="page-item">
            <a href="?page={{ posts.next_page_number }}" class="page-link">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}