{% extends 'blog/base.html' %} {% block title %}Edit Profile | {{ block.super }}{% endblock %} {% block content %}
<div align="center">
    <table border=1>
        <tr>
            <th><label for="id_photo">Profile Pic:</label></th>
            <td>{{ prof.photo }}</td>
        </tr>
        <tr>
            <th><label for="id_username">User Name:</label></th>
            <td>{{ prof.username }}</td>
        </tr>
        <tr>
            <th><label for="id_first_name">First Name:</label></th>
            <td>{{ prof.first_name }}</td>
        </tr>
        <tr>
            <th><label for="id_last_name">Last Name:</label></th>
            <td>{{ prof.last_name }}</td>
        </tr>
        <tr>
            <th><label for="id_email">Email:</label></th>
            <td>{{ prof.email }}</td>
        </tr>
        <tr>
            <th><label for="id_dob">Date of Birth:</label></th>
            <td>{{ prof.dob }}</td>
        </tr>
        <tr>
            <th><label for="id_mob">Mobile:</label></th>
            <td>{{ prof.mob }}</td>
        </tr>
        <tr>
            <th><label for="id_city">City:</label></th>
            <td>{{ prof.city }}</td>
        </tr>
    </table>
</div>
{% endblock %}